# -------------------------------------------------
# Git & VCS
# -------------------------------------------------
.git
.gitignore
.github


# -------------------------------------------------
# Python cache & build artefacts
# -------------------------------------------------
__pycache__/
*.py[cod]
*.so
*.egg-info/
.eggs/
build/
dist/


# -------------------------------------------------
# Virtual environments
# -------------------------------------------------
.venv/
env/
venv/
ENV/


# -------------------------------------------------
# Test, lint, type-check cache
# -------------------------------------------------
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/


# -------------------------------------------------
# IDE / Editor configs
# -------------------------------------------------
.idea/
.vscode/
.spyderproject
.spyproject


# -------------------------------------------------
# Secrets & local config
# -------------------------------------------------
.env
.env.*
.pypirc


# -------------------------------------------------
# Docs & misc
# -------------------------------------------------
docs/
site/
logs/
*.log
